@import "../../common/colors.scss";

.user-details {
    color: whitesmoke;  
    padding: 20px;
    h2,h3{
        color: rgb(6, 6, 234);
    }
}

.user-info{
    display: flex;
    justify-content: space-around;
}

